.header{
  color:#E0FFFF
}
.body {
    font-family: Arial, Helvetica, sans-serif;
  }


/*Chris - Set background colour*/
body{
  background-color: rgb(224, 253, 242)
}
/*Chris - Set inner content box for entire page*/

.innerContent{
  background-color: rgb(255, 255, 255);
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(105, 105, 105, 0.8), -12px 0 15px -4px rgba(105, 105, 105, 0.8);
}
/**************************************NAVIGATION BAR**************************************/
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column
}

.navList { /*General Nav properties*/
  background-color: white; 
  border-bottom: 1px solid black; /*thin line at the bottom of nav bar*/
  box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.2); /*grey shadow*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
  /*keep it high*/
}

.navList li { /*controls float of nav bar*/
  float: left;
}

.navList a { /*text for nav bar*/
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  transition: .3s;
  white-space: nowrap;
}

.navList a:hover { /*Hover colour*/
  background-color: #E0FFFF;
}

.navList > li { /*hide the list within the nav element*/
  position: relative;
}

.navList > li > div { /*List properties*/
  visibility: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: .1s;
  opacity: 0;
}

.navList > li:hover > div { /*hover properties for list*/
  visibility: visible;
  opacity: 1;
}
/*Code for navigation bar referenced from CodePen. (n.d). navBar with Dropdown. 
Retrieved from CodePen: https://codepen.io/zFunx/pen/XMKaBj*/


/***************************************Main Photo Slideshow***************************************/

* {box-sizing:border-box} /*Watch this, effects everything*/

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width:auto;
  height:auto;
}

.dotBar{
	text-align:center;
	top:10%;
}	
/* Hide the images by default */
.mySlides {
  display: none;
  width:auto;
  height:auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family:Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color:rgb(255,255,255); 
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom:16px;
  margin-top: 16px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/****************Image Gallery************/
/*Owned by Malena*/
*
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
} 
/* Create two equal columns that floats next to each other */ 
.column {
	flex-wrap: 25%; 
  flex: 25%;
  padding: 10px;
} 

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
} */ 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}  
/*Image gallery taken and edited based of w3schools How To 
  https://www.w3schools.com/howto/howto_js_image_grid.asp*/


/*General CSS for headings, etc*/

h1{
  font-family: Helvetica;
  color: black;
}

h2{
  font-family: Helvetica;
  color: black
}

h3{
  font-family: Helvetica;
  color: black
}

p{
  font-family: Helvetica;
  color: black
}

/************************************************** Food Page CSS *******************************************************/
/* Written by Mara*/

h1.food {
  text-align: center;
  padding-left: 100px;
  padding-bottom: 50px;
  padding-top: 50px
  }
  
img.stars {
display: block;
clear: left;
padding-left: 100px;
}
  
h2.food {
  clear:left;
  margin: 5px;
  padding-left: 100px
}

#tims1{
display: block;
clear: right;
float: right;
width: 40%;
padding-right: 100px;
padding-bottom: 100px;
padding-top: 10px;
}

img.tims{
display: block;
clear: right;
float: right;
width: 40%;
padding-right: 100px;
padding-bottom: 100px;
}

#food2{
  /* padding-bottom: 210px; */
  padding-left: 100px
}


#maptitle{
  text-align: center;
  clear: left;
  padding-top: 100px 
}

p.food{
float:left;
padding-left: 100px;
margin: 0px;
width: 40%;
/* padding-bottom: 250px */
}

img.staticmap{
  width: 100%;
  float: center; 
  padding-right: 300px;
  padding-left: 300px;
  padding-bottom: 100px
  }

div.boxed{
  border: 1px solid black ;
  box-shadow:12px 0 15px -4px rgba(105, 105, 105, 0.8), -12px 0 15px -4px rgba(105, 105, 105, 0.8);
  padding-bottom: 350px;
  padding-top: 50px
}


  /*end of food page css*/

/************************************************** Parks Page CSS *******************************************************/
/* Written by Grayson*/

  .masonry { /* Masonry container Adapted from https://w3bits.com/css-masonry/ */  
    column-count: 3;
    column-gap: 1em;
    padding: 1em;
  }

  .pintrestitem { /* Masonry bricks / elements  adapted from https://w3bits.com/css-masonry/ */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 3px 5px 7px rgba(105, 105, 105, 0.8);
    padding:10px;
  }
  .pintrestimage {
    max-width:100%;
    height:auto;
}



  /* Footer style */
/* Written by Chris*/

footer{ /*Chris Noakes*/
	flex-shrink:0;
	width:100%;
}
.footerRow{ /*Chris Noakes*/
	background-color:#e3e3e3;
}
.footerRow:after{ /*Chris Noakes*/
	content:" ";
	display:table;
	clear:both;
}
.footerCol{ /*Chris Noakes*/
	text-align:center;
	float:left;
    width:25%;
	padding:10px;
	box-sizing:border-box;
	height:100%;
}
.footerHeader{ /*Chris Noakes*/
	margin-top:5px;
	margin-bottom:10px;
}
#footerBlurb{ /*Chris Noakes*/
	margin-top:0px;
}
.footerLinks{ /*Chris Noakes*/
	text-align:center;
	display:block;
	color:blue;
	box-sizing:border-box;
}
.footerLinks:hover{ /*Chris Noakes*/
	color:red;
}

.socialLinks{ /*Chris Noakes*/
	text-decoration:none;
}

/*End footer style*/

.page-header{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-top: 16px;
    position: static;
    font-weight: 700;
	width:100%;
}

#subtitle{
	text-align: center
}

#mainBlurb{
	width:50%;
	font-size:20px;
	float:left;
	font-family:Helvetica;
}
